@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {

  :root {
    color: #111111;
    background-color: #F5F5F5;
  }

  :root[class~="dark"] {
    color: #FFFFFF;
    background-color: #011526;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero-style {
  font-family: 'Jersey 10 Charted', system-ui;
}

.project-item img{
  transition: 0.3s ease;
  transform: scale(1.0);
}

.project-item:hover img{
  transition: 0.3s ease;
  transform: scale(1.1);
}

.glowing-cursor {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  animation: glowing-cursor-animation 1s infinite;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}